:root {
  --blue: #1676f3;
  --green: #28a745;
  --pink: #b224ef;
  --purple: #7579ff;
}

* {
  box-sizing: border-box;
}

body,
p {
  margin: 0;
  padding: 0;
}

header {
  background-image: linear-gradient(to right, var(--purple), var(--pink));
  color: white;
  padding: 1rem;
}

.container {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 4fr 1fr;
  padding: 0.5rem;
}

.filter-item {
  display: flex;
  margin: 1rem 0rem;
  justify-content: space-between;
}

.filter-item p {
  color: var(--blue);
}

#remain {
  font-size: 2rem;
  margin: 3rem 0rem;
  text-align: center;
  word-wrap: normal;
}

th, td {
  text-align: left;
  padding: 0.5rem 3rem;
  text-transform: capitalize;
  width: auto;
}