$blue: #1676f3;
$green: #28a745;
$pink: #b224ef;
$purple: #7579ff;
$light-gray: #dadfe4;
$white: white;
$red: red;

html {
  margin: 0;
  padding: 0;
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    height: 100vh;

    #root {
      height: 100%;
      overflow-x: auto;
      display: flex;
      flex-direction: column;

      header {
        background-image: linear-gradient(to right, $purple, $pink);
        color: $white;
        padding: 1rem;
      }
  
      p {
        margin: 0;
        padding: 0;
      }
  
      .container {
        display: flex;
        flex-grow: 1;
  
        .wrapper {
          display: grid;
          width: 100vw;
          grid-template-columns: 1fr 4fr 1fr;
          padding: 0rem;
          height: 100%;
          
          .filter-container {
            padding: 0.5rem;
            box-shadow: -2px 0px 3px gray inset;
            .filter-item {
              display: flex;
              margin: 1rem 0rem;
              
              .filter-label {
                width: 30%;
              }
              
              .filter-checkbox {
                width: 70%;
                display: flex;
                label {
                  width: 50%;
                }
              }
            }
            
            p {
              color: $blue;
            }
          }
    
          .data-container {
            padding: 0.5rem;
            position: relative;
            box-shadow: 2px 0px 3px gray;
    
            table {
              width: 100%;
              line-height: 3rem;
              border-spacing: 0;

              tr {
                &:nth-child(even) {
                  background-color: $light-gray;
                }
                th, td {
                  padding: 0 0 0 2rem;
                  text-align: left;
                  width: 9rem;
                  text-transform: capitalize;
                }
              }
            }
    
            .text {
              &-green {
                color: $green;
              }
            }
    
            .font {
              &-bold {
                font-weight: 700;
              }
      
              &-italic {
                font-style: italic;
              }
              &-strike {
                text-decoration: line-through;
              }
            }
  
            .opacity {
              &-600 {
                opacity: 0.6;
              }
            }
  
            .btn {
              &-bottom {
                &-right {
                  position: absolute;
                  bottom: 20px;
                  font-size: 1.5rem;
                  right: 20px;
                  padding: 0.5rem 1rem;
                  border: none;
                  border-radius: 2rem;
                  background-color: $red;
                  color: white;
                }
              }
            }
          }
    
          .detail-container {
            padding: 0.5rem;
    
            #remain {
              font-size: 2rem;
              margin: 3rem 0rem;
              text-align: center;
              word-wrap: normal;
            }
          }
        }
      }
  
      .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
  
        h2 {
          margin: 0;
        }
        
        .modal-container {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          width: 100%;
          height: 100%;
  
          &::before {
            position: absolute;
            content: "";
            left: 0%;
            width: 100%;
            height: 100%;
            background-color: $light-gray;
            opacity: 0.8;
            z-index: -1;
          }
  
          form {
            border-radius: 0.3rem;
            background-color: $white;
            height: 25rem;
            width: 20rem;
            padding: 1rem;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    
            .form-input {
              margin: 1rem 0;
              label {
                margin: 0.25rem 0;
              }
              input[type=text] {
                border: none;
                background-color: $light-gray;
                border-radius: 0.2rem;
                padding: 0.5rem;
                font-size: 1.1rem;
                outline: none;
                display: block;
                width: 100%;
                margin: 0.25rem 0;
    
                &:focus {
                  background-color: $white;
                  box-shadow: 1px 1px 3px 0.5px gray;
                }
              }
            }
    
            .group-btn {
              display: flex;
              justify-content: flex-end;
              .btn {
                border: none;
                padding: 0.5rem 1rem;
                margin: 0 0 0 0.5rem;
                border-radius: 0.2rem;
                font-weight: 600;
      
                &-bg {
                  &-primary {
                    background-color: $blue;
                    color: $white;
                  }
                }
                &-danger {
                  color: $red;
                }
                &-primary {
                  color: $blue;
                  background-color: $light-gray;
                }
              }
            }
          }
        }
      }
  
      .d {
        &-block {
          display: block;
        }
      }
    }
  }
}